# Dependencies
node_modules/

# Build output
dist/

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/

# Storybook
storybook-static/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

*storybook.log
